.card__like-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFF;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity .3s ease;
    flex-shrink: 0;
    width: 22px;
    height: 19px;
    background: url(../../../images/button-like.svg) no-repeat center;
}

.card__like-button:hover {
    opacity: 0.5;
}